{% extends "Layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="header">
	<h1>OneFrameLink is up and running!</h1>
	<p class="lead">Create your own landing page here.</p>
	<p>Views can be added to the <code>app/View</code> directory, and Routes can be added to <code>app/Config/Routes.php</code></p>
</div>
{% endblock %}